/django_back/weather_api/migrations
/django_back/django_back/__pycache__
/django_back/weather_api/__pycache__
/.idea/learning_django_angular.iml
/django_back/django_back/.cache.sqlite
/django_back/.cache.sqlite
/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
