<div class="container">
    <mat-slide-toggle>Toggle me!</mat-slide-toggle>
    <ul class="notes">
      <li *ngFor="let note of notes; let i = index">
        <mat-card (click)="show(note.title)" class="note-card">
          <mat-card-header>
            <div mat-card-avatar class="note-avatar">
              <mat-icon>note</mat-icon>
            </div>
            <mat-card-title>{{ note.title }}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p class="note-text">{{ note.text }}</p>
          </mat-card-content>
        </mat-card>
      </li>
    </ul>
  </div>
  